        .teste1 {
            color: red;
            text-align: center;
            font-size: 60px;
        }
        
        .paragrafo {
            font-size: 30px;
        }
        
        .Navbar {
            background-color: #46ACC2;
            display: flex;
            padding: 3px;
            font-family: sans-serif;
            color: white;
        }
        
        .Navbar__Link {
            padding-right: 30px;
            font-size: 80px;
        }
        
        .Navbar__Items {
            display: flex;
        }
        
        .Navbar__Link-brand {
            margin: 5px 5px 5px 0;
        }
        /*  .flex-container {
            display: flex;
        }
      */
        
        .container {
            display: flex;
            flex-direction: row;
        }
        
        .tabela1 {
            background-color: aquamarine;
        }
        
        .tabela2 {
            background-color: aliceblue;
        }
        
        .tabela3 {
            background-color: blueviolet;
        }
        
        .align-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 50px);
            height: 300px;
        }
        
        .start {
            align-content: start;
        }
        
        .end {
            align-content: end;
        }
        
        .center {
            align-content: center;
        }
        
        .space-around {
            align-content: space-around;
        }
        
        .space-between {
            align-content: space-between;
        }
        
        .space-evenly {
            align-content: space-evenly;
        }
        
        .stretch {
            grid-template-columns: auto;
            align-content: stretch;
        }
        
        @media only screen and (max-width: 768px) {
            .Navbar__Items,
            .Navbar {
                flex-direction: column;
                background-color: blueviolet;
            }
            /*  .Navbar__Items {
                display: none;
            }*/
            .Navbar__Link-brand,
            .paragrafos {
                max-width: 50%;
            }
        }
        /*
https://www.freecodecamp.org/portuguese/news/como-criar-uma-barra-de-navegacao-responsiva-com-um-menu-de-sanduiche-usando-flexbox/

tabela de cores html

https://celke.com.br/artigo/tabela-de-cores-html-nome-hexadecimal-rgb

https://kinsta.com/pt/blog/estilo-de-imagem-css/ imagens


flex 

https://www.alura.com.br/artigos/css-guia-do-flexbox?utm_term=&utm_campaign=%5BSearch%5D+%5BPerformance%5D+-+Dynamic+Search+Ads+-+Artigos+e+Conte%C3%BAdos&utm_source=adwords&utm_medium=ppc&hsa_acc=7964138385&hsa_cam=11384329873&hsa_grp=164068847699&hsa_ad=703934793962&hsa_src=g&hsa_tgt=dsa-2273097816642&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMIjNDLuKiQiAMVkVNIAB3DmzCAEAAYASAAEgLCEfD_BwE

https://tipscode.com.br/flexbox-como-centralizar-elementos

https://developer.mozilla.org/pt-BR/docs/Web/HTML/Element/ol ordenacao em html 

tabela em html:
https://www.homehost.com.br/blog/criar-sites/tabela-html/


Usando grid em html css

https://www.alura.com.br/artigos/css-grid-guia-propriedades-grid-container-grid-item?utm_term=&utm_campaign=%5BSearch%5D+%5BPerformance%5D+-+Dynamic+Search+Ads+-+Artigos+e+Conte%C3%BAdos&utm_source=adwords&utm_medium=ppc&hsa_acc=7964138385&hsa_cam=11384329873&hsa_grp=164068847699&hsa_ad=703934793962&hsa_src=g&hsa_tgt=dsa-2273097816642&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMI69XA_6yQiAMVb0BIAB2Cwwj-EAAYASAAEgJwtPD_BwE



*/